# AWS configuration
aws_region = "ap-northeast-1"

# Project settings
project_name = "xxxxxxx-cicd"
target_project_name = "xxxxxxx"
source_repository = {
  # AWSマネジメントコンソール > デベロッパーツール > 設定 > 接続 で作成したコード接続のARN
  connection_arn     = "arn:aws:codeconnections:ap-northeast-1:xxxxxx:connection/xxxxxxxxxxxxxxxxx"
  full_repository_id = "github_account_name/repository_name"
  branch_name        = "main"
}

