# AWS configuration
aws_region = "ap-northeast-1"
aws_account_id = "xxxxxxxxxxx"

# Project settings
cicd_project_name = "xxxxxxx-cicd"
target_project_name = "xxxxxxx"
# AWSマネジメントコンソール > デベロッパーツール > 設定 > 接続 で作成したコード接続のARN
source_repository_connection_arn     = "arn:aws:codeconnections:ap-northeast-1:xxxxxx:connection/xxxxxxxxxxxxxxxxx"
source_repository_full_repository_id = "github_account_name/repository_name"
